---
layout: heading
title: Contato
subtitle: Faça parte do nosso sonho
description: "Endereço, telefone e e-mail da Alec: Rua Serra Formosa, 69, Parque da Liberdade, Americana/SP. Fale conosco e venha nos visitar."
---

	<div class="main-container fadeIn animated">

		<div class="container">

			<div class="row">

				<div class="col-md-8 col-md-offset-1 col-contact">

					<h2 class="title-style-2">FORMAS DE CONTATO<span class="title-under"></span></h2>
					<p>
						A <b>Alec</b> está de portas abertas. Fale conosco e venha nos visitar, faça parte do nosso sonho!
					</p>

					<div class="contact-items">

						<ul class="list-unstyled contact-items-list">
							<li class="contact-item"> <span class="contact-icon">{% include icone.html nome="local" %}</span> <a href="https://goo.gl/maps/x4C8WtdnHAG2" target="_blank" rel="noopener">Rua Serra Formosa, 69 - Parque da Liberdade - CEP 13470-­423 - Americana, SP Brasil</a></li>
							<li class="contact-item"> <span class="contact-icon">{% include icone.html nome="telefone" %}</span> {{ site.telefone }}</li>

							<li class="contact-item"> <span class="contact-icon">{% include icone.html nome="email" %}</span> <a href="mailto:{{ site.email }}"> {{ site.email }}</a></li>
						</ul>
					</div>



				</div>

			</div> <!-- /.row -->


		</div>



	</div>
