<div class="section-home about-us fadeIn animated">

        <div class="row">

            <div class="col-md-3 col-sm-6">

              <div class="about-us-col">

                    <div class="col-icon-wrapper">
                      <img src="assets/images/icons/our-mission-icon.png" alt="">
                    </div>
                    <h3 class="col-title">Nossa Missão</h3>
                    <div class="col-details">

                      <p>Deixar um legado, livrando as crianças das ruas e dando oportunidades de crescimento e desenvolvimento</p>

                    </div>
                    <a href="#" class="btn btn-primary">Leia mais</a>

              </div>

            </div>


            <div class="col-md-3 col-sm-6">

              <div class="about-us-col">

                    <div class="col-icon-wrapper">
                      <img src="assets/images/icons/programs-icon.png" alt="">
                    </div>
                    <h3 class="col-title">Nossas atividades</h3>
                    <div class="col-details">

                      <p>Hoje a Alec conta com mais de 20 tipos de cursos e atividades diárias para crianças e adolescentes</p>

                    </div>
                    <a href="/causes" class="btn btn-primary">Conheça mais</a>

              </div>

            </div>


            <div class="col-md-3 col-sm-6">

              <div class="about-us-col">

                    <div class="col-icon-wrapper">
                      <img src="assets/images/icons/help-icon.png" alt="">
                    </div>
                    <h3 class="col-title">Seja voluntário</h3>
                    <div class="col-details">

                      <p>Ser voluntário é doar seu tempo, trabalho e carinho. Essas crianças precisam de você </p>

                    </div>
                    <a href="/seja-voluntario" class="btn btn-primary">Seja voluntário</a>

              </div>

            </div>


            <div class="col-md-3 col-sm-6">

              <div class="about-us-col">

                    <div class="col-icon-wrapper">
                      <img src="assets/images/icons/make-donation-icon.png" alt="">
                    </div>
                    <h3 class="col-title">Faça uma doação</h3>
                    <div class="col-details">

                      <p>Sua ajuda com certeza fará toda diferença, seja em valores ou brinquedos e alimentos</p>

                    </div>
                    <a href="/faca-doacao" class="btn btn-primary">Saiba como</a>

              </div>

            </div>

        </div>

</div> <!-- /.about-us -->
