<footer class="main-footer">

       <div class="footer-top">

       </div>


       <div class="footer-main">
           <div class="container">

               <div class="row">
                   <div class="col-md-4">

                       <div class="footer-col">

                           <h4 class="footer-title">Sobre<span class="title-under"></span></h4>

                           <div class="footer-content">

                               <p>
                                   A <strong>Alec</strong> nasceu de um sonho, o sonho de dar as crianças o que é seu direito por natureza, o direito de ser feliz.
                               </p>
                                <p>
                                   O objetivo é deixar um novo legado, livrando crianças da ociosidade das ruas e dando oportunidades de crescimento e desenvolvimento, mostrando que cada um possui talentos a serem cultivados.
                               </p>
                                <p>
                                 <strong>Criança precisa ser livre pra brincar, cantar e dançar. Livre para ser criança!</strong>
                                </p>

                           </div>

                       </div>

                   </div>

                   <div class="col-md-4">

                       <div class="footer-col">

                           <h4 class="footer-title">ALEC NO FACEBOOK <span class="title-under"></span></h4>

                           <div class="footer-content">
                               <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Feusoualec%2F&tabs&width=340&height=154&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=842043272484110" width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>

                       </div>

                   </div>


                   <div class="col-md-4">

                       <div class="footer-col">

                           <h4 class="footer-title">FALE CONOSCO<span class="title-under"></span></h4>

                           <div class="footer-content">

                               <div class="footer-form">

                                   <p><i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}"> {{ site.email }}</a></p>
                                   <p><i class="fa fa-phone"></i> <a href="tel:{{ site.telefone }}"> {{ site.telefone }}</a></p>

                               </div>
                           </div>

                       </div>

                   </div>
                   <div class="clearfix"></div>



               </div>


           </div>


       </div>

       <div class="footer-bottom">

           <div class="container text-right">
               <a href="http://eusoualec.org.br"><strong>ALEC</strong></a> @ COPYRIGHTS 2016</a>
           </div>
       </div>

   </footer> <!-- main-footer -->
