<header class="main-header">


    <nav class="navbar navbar-static-top">

        <div class="navbar-main">

          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

              </button>

              <a class="navbar-brand" href="/"><img src="assets/images/sadaka-logo22.png" alt="" width="85" height="38"></a>

            </div>

            <div id="navbar" class="navbar-collapse collapse pull-right">

              <ul class="nav navbar-nav">

                <li><a{% if page.url == '/' %} class="is-active"{% endif %} href="/">INÍCIO</a></li>
				        <li><a{% if page.url == '/sobre.html' %} class="is-active"{% endif %} href="/sobre">SOBRE</a></li>
                <li><a{% if page.url == '/atividades.html' %} class="is-active"{% endif %} href="/atividades">ATIVIDADES</a></li>
                <li><a{% if page.url == '/contact.html' %} class="is-active"{% endif %} href="/contact">CONTATO</a></li>
              </ul>

            </div> <!-- /#navbar -->

          </div> <!-- /.container -->

        </div> <!-- /.navbar-main -->


    </nav>

</header> <!-- /. main-header -->
