<!DOCTYPE html>
<html lang="{{ site.lang | default: 'pt-BR' }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!--  Scripts
    ================================================== -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootsrap javascript file -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- PrettyPhoto javascript file -->
    <script src="assets/js/jquery.prettyPhoto.js"></script>

    <!-- Template main javascript -->
    <script src="assets/js/main.js"></script>

  </body>

</html>
